.sport {
  border: 2px solid black;
  padding: 0.4rem;
  user-select: none;
}

.tableSport {
  margin-top: 0.5rem;
  border-collapse: collapse;
  border: 1px solid black;
}

.sportHeader {
  border: 2px solid black;
  padding: 0.4rem;
  background-color: #abebc6;
  user-select: none;
}
